body {
    background-color: #FFE8BD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.m-shape {
    width: 150px;
    height: 100px;
    background-color: #31798F;
    border-radius: 50px;
    position: relative;
}

.m-shape::before,
.m-shape::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #31798F;
    border-radius: 50px;
}

.m-shape::before {
    left: -50px;
}

.m-shape::after {
    right: -50px;
}